# Pandas Exercises

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/NotebookExampleData/Week1/diabetes.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [ ]:
# YOUR CODE HERE

Print out the age and class of the 100th patient

In [ ]:
# YOUR CODE HERE

Write code to figure out how many people are classified as not having diabetes, class is 0

In [ ]:
# YOUR CODE HERE

Write code to figure out how many people are classified as having diabetes, class is 1

In [ ]:
# YOUR CODE HERE

What percent of people have diabetes in the study

In [ ]:
# YOUR CODE HERE

Print out the `"pres"` and `"class"` (no other columns) for the first 5 people

In [ ]:
# YOUR CODE HERE

Run the cell below, it will print out the correlation among the columns

In [ ]:
data.corr()

What column has the highest correlation with class? Find the mean() value of that column

In [ ]:
# YOUR CODE HERE

Create a new dataframe with only people that are above the mean found in the above cell.

In [ ]:
# YOUR CODE HERE

Create a new dataframe that only includes people who are above the average value for each column in the dataset. In other words, find the average value for each column, and then find which users have values above all of these average column values.

In [ ]:
# YOUR CODE HERE

*Note: the next 3 problems were not explicitly shown in our tutorial—being able to effectively google and look through documentation is a very important coding tool!* ¯\\\_(ツ)_/¯

Ignoring the index (resetting the index to 0) and using the dataframe from the cell above, sort the values based on `"skin"`, `"test"`, and `"pedi"` values in ascending order. Please write this in one line.

In [ ]:
# YOUR CODE HERE

Now let's find the 4 largest values for `"age"`

In [ ]:
# YOUR CODE HERE

Now find the smallest 4 values for `"pedi"` and `"plas"` in reverse order (smallest to largest).

In [ ]:
# YOUR CODE HERE