# Pandas Solutions

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/NotebookExampleData/Week1/diabetes.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [ ]:
# YOUR CODE HERE
data = pd.read_csv(url, names = names)
data

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

Print out the age and class of the 100th patient

In [ ]:
# YOUR CODE HERE
# data.iloc[100, 7:9] or
data.loc[100, ["age", "class"]]

age      33.0
class     1.0
Name: 100, dtype: float64

Write code to figure out how many people are classified as not having diabetes, class is 0

In [ ]:
# YOUR CODE HERE
negative = len(data[(data["class"] == 0)])
print(negative)

500

Write code to figure out how many people are classified as having diabetes, class is 1

In [ ]:
# YOUR CODE HERE
positive = len(data[(data["class"] == 1)])
print(positive)

268

What percent of people have diabetes in the study

In [ ]:
# YOUR CODE HERE
per = positive/len(data["class"])
print(str(per*100) + "%")

34.89583333333333%

Print out the `"pres"` and `"class"` (no other columns) for the first 5 people

In [ ]:
# YOUR CODE HERE
data.loc[:4, ["pres", "class"]]

   pres  class
0    72      1
1    66      0
2    64      1
3    66      0
4    40      1

Run the cell below, it will print out the correlation among the columns

In [ ]:
data.corr()

           preg      plas      pres  ...      pedi       age     class
preg   1.000000  0.129459  0.141282  ... -0.033523  0.544341  0.221898
plas   0.129459  1.000000  0.152590  ...  0.137337  0.263514  0.466581
pres   0.141282  0.152590  1.000000  ...  0.041265  0.239528  0.065068
skin  -0.081672  0.057328  0.207371  ...  0.183928 -0.113970  0.074752
test  -0.073535  0.331357  0.088933  ...  0.185071 -0.042163  0.130548
mass   0.017683  0.221071  0.281805  ...  0.140647  0.036242  0.292695
pedi  -0.033523  0.137337  0.041265  ...  1.000000  0.033561  0.173844
age    0.544341  0.263514  0.239528  ...  0.033561  1.000000  0.238356
class  0.221898  0.466581  0.065068  ...  0.173844  0.238356  1.000000

[9 rows x 9 columns]

What column has the highest correlation with class? Find the mean() value of that column

In [ ]:
# YOUR CODE HERE
highest_corr = sorted(data.corr().loc["class"])[-2] # Note: you don't want to count the 1.0 since that's just class' correlation with itself
print(highest_corr)

plas_mean = data.describe().iloc[1,1]
print(plas_mean)

0.4665813983068757
120.89453125

Create a new dataframe with only people that are above the mean found in the above cell

In [ ]:
# YOUR CODE HERE
plas_bool = data["plas"] > plas_mean
above_plas_mean = data[plas_bool].dropna()
above_plas_mean

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
2       8   183    64     0     0  23.3  0.672   32      1
4       0   137    40    35   168  43.1  2.288   33      1
8       2   197    70    45   543  30.5  0.158   53      1
9       8   125    96     0     0   0.0  0.232   54      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
759     6   190    92     0     0  35.5  0.278   66      1
761     9   170    74    31     0  44.0  0.403   43      1
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1

[349 rows x 9 columns]

Create a new dataframe that only includes people who are above the average value for each column in the dataset. In other words, find the average value for each column, and then find which users have values above all of these average column values.

In [ ]:
# YOUR CODE HERE
means = data.describe().iloc[1,:9]
means_bool = data > means
filtered = data[means_bool].dropna()
filtered

     preg   plas   pres  skin   test  mass   pedi   age  class
43    9.0  171.0  110.0  24.0  240.0  45.4  0.721  54.0    1.0
152   9.0  156.0   86.0  28.0  155.0  34.3  1.189  42.0    1.0
159  17.0  163.0   72.0  41.0  114.0  40.9  0.817  47.0    1.0
175   8.0  179.0   72.0  42.0  130.0  32.7  0.719  36.0    1.0
206   8.0  196.0   76.0  29.0  280.0  37.5  0.605  57.0    1.0
215  12.0  151.0   70.0  40.0  271.0  41.8  0.742  38.0    1.0
236   7.0  181.0   84.0  21.0  192.0  35.9  0.586  51.0    1.0
259  11.0  155.0   76.0  28.0  150.0  33.3  1.353  51.0    1.0
375  12.0  140.0   82.0  43.0  325.0  39.2  0.528  58.0    1.0
424   8.0  151.0   78.0  32.0  210.0  42.9  0.516  36.0    1.0
458  10.0  148.0   84.0  48.0  237.0  37.6  1.001  51.0    1.0
546   5.0  187.0   76.0  27.0  207.0  43.6  1.034  53.0    1.0
603   7.0  150.0   78.0  29.0  126.0  35.2  0.692  54.0    1.0
612   7.0  168.0   88.0  42.0  321.0  38.2  0.787  40.0    1.0
614  11.0  138.0   74.0  26.0  144.0  36.1  0.557  50.0    1.0
663   9.0  145.0   80.0  46.0  130.0  37.9  0.637  40.0    1.0

*Note: the next 3 problems were not explicitly shown in our tutorial—being able to effectively google and look through documentation is a very important coding tool!* ¯\\\_(ツ)_/¯

Ignoring the index (resetting the index to 0) and using the dataframe from the cell above, sort the values based on `"skin"`, `"test"`, and `"pedi"` values in ascending order. Please write this in one line.

In [ ]:
# YOUR CODE HERE
filtered.sort_values(by=['skin', 'test', 'pedi'], ignore_index=True)

    preg   plas   pres  skin   test  mass   pedi   age  class
0    7.0  181.0   84.0  21.0  192.0  35.9  0.586  51.0    1.0
1    9.0  171.0  110.0  24.0  240.0  45.4  0.721  54.0    1.0
2   11.0  138.0   74.0  26.0  144.0  36.1  0.557  50.0    1.0
3    5.0  187.0   76.0  27.0  207.0  43.6  1.034  53.0    1.0
4   11.0  155.0   76.0  28.0  150.0  33.3  1.353  51.0    1.0
5    9.0  156.0   86.0  28.0  155.0  34.3  1.189  42.0    1.0
6    7.0  150.0   78.0  29.0  126.0  35.2  0.692  54.0    1.0
7    8.0  196.0   76.0  29.0  280.0  37.5  0.605  57.0    1.0
8    8.0  151.0   78.0  32.0  210.0  42.9  0.516  36.0    1.0
9   12.0  151.0   70.0  40.0  271.0  41.8  0.742  38.0    1.0
10  17.0  163.0   72.0  41.0  114.0  40.9  0.817  47.0    1.0
11   8.0  179.0   72.0  42.0  130.0  32.7  0.719  36.0    1.0
12   7.0  168.0   88.0  42.0  321.0  38.2  0.787  40.0    1.0
13  12.0  140.0   82.0  43.0  325.0  39.2  0.528  58.0    1.0
14   9.0  145.0   80.0  46.0  130.0  37.9  0.637  40.0    1.0
15  10.0  148.0   84.0  48.0  237.0  37.6  1.001  51.0    1.0

Now let's find the 4 largest values for `"age"`

In [ ]:
# YOUR CODE HERE
data.nlargest(4, ["age"])

     preg  plas  pres  skin  test  mass   pedi  age  class
459     9   134    74    33    60  25.9  0.460   81      0
453     2   119     0     0     0  19.6  0.832   72      0
666     4   145    82    18     0  32.5  0.235   70      1
123     5   132    80     0     0  26.8  0.186   69      0

Now find the smallest 4 values for `"pedi"` and `"plas"` in reverse order (smallest to largest).

In [ ]:
# YOUR CODE HERE
data.nsmallest(4, ["pedi", "plas"], keep="last")

     preg  plas  pres  skin  test  mass   pedi  age  class
268     0   102    52     0     0  25.1  0.078   21      0
180     6    87    80     0     0  23.2  0.084   32      0
149     2    90    70    17     0  27.3  0.085   22      0
567     6    92    62    32   126  32.0  0.085   46      0

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=d235bfc1-2e47-4a5a-86ef-83055dd711b9' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>